<html>
	<body>
		<form action='/upload' enctype="multipart/form-data" method='POST'>
    			<input name="file" type="file" /><br />
			Function/address: <input name="functions" value="ALL" type="text" /><br />
    			<input type="submit" value="Upload" />
		</form>
	</body>
</html>
